asgiref
certifi
chardet
confusable-homoglyphs
defusedxml
Django
django-allauth
django-crispy-forms
django-registration
django-rest-auth
django-webpack-loader
djangorestframework
idna
oauthlib
python3-openid
pytz==2019.3
requests
requests-oauthlib
six
sqlparse
urllib3